.home-popup{
  margin-top:-200px;
  width:100%;
}
/*.home-popup-content{
color: #333333;text-shadow: 0 1px 0 #FFFFFF; height:62px;padding-top:10px;padding-left:10px; width:250px;
}*/
.home-popup-content-first{
   /*width:50px; height:50px;*/ width:22%; float:left;text-align:center;
}
.home-popup-content-other{
  /*width:50px; height:50px;*/ width:22%; float:left;margin-left:2%;text-align:center;
}
.home-popup-content-other2{
  /*width:50px; height:50px;*/ width:22%; float:left;margin-left:2%;text-align:center;
}

.home-popup-content { position: relative; background: #f2ffed; border: 4px solid #f2ffed;    color: #333333;text-shadow: 0 1px 0 #FFFFFF; height:110px;padding-top:30px;padding-left:0px; margin-top:-9%;} 
.home-popup-content:after, .home-popup-content:before {top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
.home-popup-content:after { border-color: rgba(242, 255, 237, 0); border-top-color: #f2ffed; border-width: 22px; left: 13%; margin-left: 0px; } 
.home-popup-content:before { border-color: rgba(242, 255, 237, 0); border-top-color: #f2ffed; border-width: 28px; left: 13%; margin-left: 0px; } 